<div class='col-sm-12'>
  <label for='{{id}}' class='col-sm-4 control-label'>{{title}}</label>
  <div class='col-sm-{{cols}}'>
    <input type='text' class='form-control' id='{{id}}' placeholder='{{placeholder}}', value='{{value}}'></input>
  </div>
</div>
