{{!if there is an action }}
{{#if ui-action}}
  {{#if disabled}}
    <li class='disabled navLink'><a class='ui-action' ui-action='{{ui-action}}'>{{title}}</a></li>
  {{else}}
    <li class='navLink'><a class='ui-action' ui-action='{{ui-action}}'>{{title}}</a></li>
  {{/if}}
{{else}}
  <li class='divider'></li>
{{/if}}
