<div class='panel panel-{{#if type}}{{type}}{{else}}default{{/if}}' id="{{id}}">
    <div class='panel-heading'>
      {{{head}}}
    </div>
    <div class='panel-body'>
      {{{content}}}
    </div>
</div>
